.navbar{
    display: flex;
    justify-content: space-between;
    border:  solid rgb(233, 235, 238);
    padding-top: 15px;
    padding-left: 105px;
    padding-bottom: 10px;
    padding-right: 115px;
}


.logo img{
    height: 30px;
    
}

.sign-in-nav{
    font-size: 14px;
    font-weight: 400;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: rgb(107, 110, 121);
    color: rgb(107, 110, 121);
    line-height: 24px;
    margin-top: 20px;

}

.home{
    background-image: url('/banner/banner.jpg');
    background-position-x: 50%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 400px;
    position: relative;
}

.floating-page{
    position: absolute;
    top: 80%;
    left: 30%;
    border: solid white;
    background-color: white; 
    border-radius: 5px 5px 0 0; 
    padding-left: 15px; 
    padding-top: 30px; 
    padding-right: 15px;
    width: 460px;
    box-shadow: 0 10px 10px 5px rgb(175, 175, 175);
}

.float-head{
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 10px;
}

.float-desc{
    font-size: 14px;
    color: rgb(35, 31, 32);
    line-height: 25px;
    padding-bottom: 10px;
}

.float-location{
    border: solid rgb(236, 236, 236);
    color: rgb(188, 193, 197);
    border-radius: 4px;
    width: 438px;
    height: 45px;
    font-weight: 500;
    font-size: 1.0rem;
    padding-left: 10px;
    margin-bottom: 50px;
}

.float-location:focus{
    border-color: rgb(236, 236, 236);
}